* {
    outline: 2px solid red;
  }

  /* GLOBAL */

  body {
    font-family: "roboto", sans sans-serif;
    color: black;
  }
  

#header {
    background-color: #11F2937;
    height: 400px;
}