* {
    outline: 2px solid red;
  }

  /* GLOBAL */

  body {
    font-family: "roboto", sans-serif;
    color: black;
  }
  
/* HEADER */ 
#header {
    background-color: #1F2937;
    height: 400px;
}
 
h1#header {
font-family: "roboto";
font-size: 48px;
font-weight: bold;
color: #f9faf8;
} 

  nav li {
	  color: white;
	  background-color: red; /* dark blue */
	  text-decoration: none;
  }
